* {
  box-sizing: border-box;
  font-family: 'Alternative Gothic';
  color: solid white;

}



body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
 
  
}

body > nav {
  background-color: rgb(0, 160, 94);
  display: flex;
  align-items: center;
  align-content: flex-end;
  padding: 0 20px 0 30px;


}



body > main {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  

  padding: 50px;
  



}

nav > img {
  object-fit: contain;
  margin-right: auto;
  height: 45px;
  width: 45px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;

}


 img {
  width: 65%;
  height: auto;
  display: flex;
  align-items: center;
}


a {
  color: #00B7FF;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}



table td {
  padding: 10px;
  text-align: center;
}

#home td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
} 

#home a {
  border-radius: 4px;
  background-color: rgb(0, 160, 94);
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
  color: white;
} 

.show-container {
  height: 800px;
  width: 600px;
  border: 2px solid orange;
  padding: 10px;
  margin: .5rem;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(254, 248, 225)
 
}


.display-box {
  width: 100%;
}

.show-container > img {
  width: 70px;
  height: 100%
}

.top-row {
  width: 100%;
  size: 20px;
  display: flex;
  justify-content: center;
}

.second-row {
  display: flex;
  flex-wrap: wrap;
}

.second-row .col-1 {
  width: 50%;
  display: flex;
  justify-content: center;
}

.second-row .col-2 {
  width: 20%;
}

.second-row .col-3 {
  width: 30%;
}

.third-row {
  width: 100%;
}

.fourth-row {
  width: 100%;
}

.bottom-row{
  display: flex;
  flex-wrap: wrap;
}
.bottom-row .col-1 {
  width: 20%;
}

.bottom-row .col-2 {
  width: 80%;
}


.comments-container {
  height: 400px;
  width: 600px;
  border-color: 2px light grey;
  padding: 5px;
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  background-color: white;

}

.comment-box {
  height: 50px;
  width: 100%;
 

}

.box-1 {
  height: 50px;
  width: 100%;
  padding: 30px;
  
}

.box-2 {
  height:50px;
  width: 100%;
  
}

input {
  border-radius: 4px;
  background-color: rgb(0, 160, 94);
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
  color: white;
}

button {
  border-radius: 4px;
  background-color: rgb(0, 160, 94);
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
  color: white;
}