* {
  box-sizing: border-box;
  font-family: 'Alternative Gothic';
  color: solid white;

}



body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid=template-areas:
  "nav"
  "main"
}

body > nav {
  background-color: rgb(0, 160, 94);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: space-between;
  padding: 0 20px 0 30px;


}

nav > img {
  width: 35px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 50px;
  overflow-y: scroll;



}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 20px;

}



 img {
  width: 65%;
  height: auto;
  flex-direction: column;
  display: flex;
  align-items: center;
}


a {
  color: #00B7FF;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}



table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: rgb(0, 160, 94);
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
  color: white;
}

#show-container {
  height: 600px;
  width: 500px;
  border: 2px solid orange;
  margin: .5rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  background-color: rgb(254, 248, 225)
 
  
  

 

}

#container {
display: grid;

}