<%- include('../partials/header') %>

<h2>Edit Dog</h2>
<form action="/dogs/<%= dog._id %>?_method=PUT" method="POST">
  <label>Name:
    <input type="text" name="name">
  </label><br>
  <label>Birthdate:
    <input type="date" name="birthdate">
  </label><br>
  <label>Breed:
    <input type="text" name="breed">

  <label>Location:
    <input type="text" name="location">
  </label><br>
  <br>
  <hr>
  <h2>Bio</h2>
  <textarea name="bio"></textarea>
 
  <br>
  <hr>
  <h2> Favorites
  <h4>
  <label>Park:
    <textarea name="park"></textarea>
  <label>Pet Store:
    <textarea name="petStore"></textarea>  
  </label><br>
  <label>Snack:
    <textarea name="snack"></textarea>  
  </label><br>
  <label>Veterinarian:  
    <textarea name="veterinarian"></textarea>
  </label><br>
  <label>Toy:
    <textarea name="toy"></textarea>  
  </label><br>

  
  <button type="submit">Submit</button>
</form>
<br>
<br>
<br>
<br>


         
    <tr>
      
    
      <td>
        
          <form action="/dogs/<%=dog._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete Dog</button>
          </form>
       
      </td>
    </tr>
 
<%- include('../partials/footer') %>